{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> InvenTux</span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('main.index') }}" class="nav-item nav-link">Inicio</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container px-lg-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">404</h1>
                <h1 class="mb-4">Página no encontrada</h1>
                <p class="mb-4">Lo sentimos, la página que ha buscado no existe en nuestro sitio web.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{{ url_for('main.index') }}">Regresar al
                    inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('main.index') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
<a class="btn btn-link" href="{{ url_for('session.login') }}">Iniciar Sesión</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('main.index') }}">Inicio</a>
{% endblock %}