{% extends "layout.html" %}

{% block content %}
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> Inventario</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ url_for('index') }}" class="nav-item nav-link">Inicio</a>
            </div>
        </div>
    </nav>

    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">
                    <h1 class="text-white animated zoomIn">Not Found</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- 404 Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container px-lg-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">404</h1>
                <h1 class="mb-4">Página no encontrada</h1>
                <p class="mb-4">Lo sentimos, la página que ha buscado no existe en nuestro sitio web.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{{ url_for('index') }}">Regresar al
                    inicio</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('index') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('contact') }}">Contacto</a>
<a class="btn btn-link" href="{{ url_for('session.login') }}">Iniciar Sesión</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('index') }}">Inicio</a>
{% endblock %}