{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('admin.admin') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> InvenTux</span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('admin.registro') }}" class="nav-item nav-link">Registro</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Listas</a>
    <div class="dropdown-menu m-0">
        <a href="{{ url_for('admin.users') }}" class="dropdown-item">Aspirantes</a>
        <a href="{{ url_for('admin.admins') }}" class="dropdown-item">Administradores</a>
    </div>
</div>
<a href="{{ url_for('admin.correos') }}" class="nav-item nav-link">Correos</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">Inicio</h6>
                    <h2 class="mt-2">¡Bienvenid@ {{ admin.name }}!</h2>
                </div>
                <p class="mb-4">¡Bienvenido a nuestra aplicación del Inventario de intereses vocacionales!
                    Estamos encantados de contar con tu participación y apoyo como administrador.
                    <br>
                    Gracias por unirte a nuestro equipo y por tu compromiso con el desarrollo vocacional de nuestros
                    usuarios.
                </p>
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-primary rounded-pill px-4 me-3"
                        href="{{ url_for('admin.registro') }}">Registrar</a>
                    <a class="btn btn-primary rounded-pill px-4 me-3" href="{{ url_for('admin.users') }}">Aspirantes</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s"
                    src="{{ url_for('static', filename='img/about.jpg') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('admin.admin') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('admin.admin') }}">Inicio</a>
{% endblock %}