{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> InvenTux</span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('session.login') }}" class="nav-item nav-link">Iniciar Sesión</a>
{% endblock %}

{% block three %}
<div class="container mt-5 px-lg-5">
    <div class="row g-5 py-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="text-white mb-4 animated zoomIn">Inventario de Intereses Vocacionales InvenTux</h1>
            <p class="text-white pb-3 animated zoomIn">Bienvenido a nuestra aplicación del Inventario de
                intereses vocacionales.
                Nuestra plataforma está diseñada para ayudarte a descubrir tus pasiones, habilidades y
                aptitudes,
                guiándote hacia carreras que se alineen perfectamente con tus intereses.</p>
            <a href="{{ url_for('session.login') }}"
                class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Iniciar
                Sesión</a>
            <a href="{{ url_for('main.contact') }}"
                class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contactanos</a>
        </div>
        <div class="col-lg-6 text-center text-lg-start">
            <img class="img-fluid wow zoomIn" data-wow-delay="0.2s"
                src="{{ url_for('static', filename='img/hero.png') }}">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">Sobre Nosotros</h6>
                    <h2 class="mt-2">Universidad Tecnológica de Acapulco</h2>
                </div>
                <p class="mb-4">La Universidad Tecnológica de Acapulco ofrece una variedad de programas educativos.
                    Estos programas preparan a los estudiantes para carreras en campos como la industria alimentaria,
                    la tecnología, la manufactura y el emprendimiento, proporcionándoles las habilidades necesarias
                    para tener éxito en un mundo laboral diverso y competitivo.</p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Gastronomía</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Tecnologías de la Información</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Mantenimiento Industrial</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Desarrollo de Negocios</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-primary rounded-pill px-4 me-3" href="https://utacapulco.edu.mx/">Conocer Más</a>
                    <a class="btn btn-outline-primary btn-square me-3"
                        href="https://www.facebook.com/people/Oficial-Universidad-Tecnol%C3%B3gica-de-Acapulco/100063862541593/"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href="https://twitter.com/UTAcapulco"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3"
                        href="https://www.instagram.com/utacapulco/?igsh=NjE0OHc3eXpoNXNs&utm_source=qr"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s"
                    src="{{ url_for('static', filename='img/about.jpg') }}">
            </div>
        </div>
    </div>
</div>
<div class="container-xxl bg-primary testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle"
                        src="{{ url_for('static', filename='img/testimonial-1.jpg') }}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle"
                        src="{{ url_for('static', filename='img/testimonial-2.jpg') }}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle"
                        src="{{ url_for('static', filename='img/testimonial-3.jpg') }}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle"
                        src="{{ url_for('static', filename='img/testimonial-4.jpg') }}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl bg-primary newsletter my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container px-lg-5">
        <div class="row align-items-center" style="height: 250px;">
            <div class="col-12 col-md-6">
                <h3 class="text-white">Quiero conocer más</h3>
                <small class="text-white">Envianos tu correo electrónico y te enviaremos más Información.</small>
                <div class="position-relative w-100 mt-3">
                    <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                        placeholder="Escribe tu correo" style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                            class="fa fa-paper-plane text-primary fs-4"></i></button>
                </div>
            </div>
            <div class="col-md-6 text-center d-none d-md-block">
                <img class="img-fluid" style="height: 200px;"
                    src="{{ url_for('static', filename='img/newsletter.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('main.index') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
<a class="btn btn-link" href="{{ url_for('session.login') }}">Iniciar Sesión</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('main.index') }}">Inicio</a>
{% endblock %}