{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> Inventario</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ url_for('main.index') }}" class="nav-item nav-link">Inicio</a>
            </div>
        </div>
    </nav>

    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="col-12 text-center">
            <!-- <h1 class="text-white animated zoomIn">Iniciar Sesión</h1>
            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item text-white">Inicio</li>
                    <li class="breadcrumb-item text-white">Iniciar Sesión</li>
                </ol>
            </nav> -->
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->

<body>
    <div class="contenedor">
        <section class="wrapper">
            <div class="form signup">
                <header class="text-dark">Login</header>
                <form action="/iniciar/" method="post">
                    <h5>Ficha:</h5>
                    <input class="form-control mt-2" type="text" id="email" name="email" placeholder="Correo"
                        required />
                    <h5 for="email">Contraseña:</h5>
                    <input class="form-control mt-2" type="password" id="password" name="password"
                        placeholder="Password" required />
                    <input class="botones" type="submit" value="Iniciar Sesión" />
                </form>
            </div>
        </section>
    </div>
</body>

<!-- About End -->
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('main.index') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
<a class="btn btn-link" href="{{ url_for('session.login') }}">Iniciar Sesión</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('main.index') }}">Inicio</a>
{% endblock %}