{% extends "layout.html" %}

{% block content %}
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> Inventario</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ url_for('index') }}" class="nav-item nav-link">Inicio</a>
            </div>
        </div>
    </nav>

    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-12 text-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Iniciar Sesión
                                </div>
                                <div class="card-body">
                                    <form action="/iniciar/" method="post">
                                        <div class="form-group">
                                            <label for="email">Ficha:</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                placeholder="Ingresa tu ficha" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Contraseña:</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                placeholder="Ingresa tu contraseña" required>
                                        </div>
                                        <button class="btn btn-primary btn-block">Iniciar Sesión</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('index') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('contact') }}">Contacto</a>
<a class="btn btn-link" href="{{ url_for('session.login') }}">Iniciar Sesión</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('index') }}">Inicio</a>
{% endblock %}