{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('user.testEs') }}" class="nav-item nav-link">Test</a>
<a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
	<div class="container-lg">
		<div class="row align-items-start">
			<div class="container">
				<div class="card shadow">
					<div class="card-body">
						<form action="/guardar/" method="POST">
							<input type="hidden" name="user_id" value="{{ user._id }}">
							<div class="container">
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta1" class="text-black mb-4">
											Reactivo 1.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta1" class="text-black mb-4">
											1° Me interesa aprender a reparar una computadora.
											<br>
											<br>
											2° Me interesa saber la forma de elaboración de distintos tipos de pan.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="TICS" required>
											<label class="form-check-label" for="pregunta1">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta1">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta2" class="text-black mb-4">
											Reactivo 2.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta2" class="text-black mb-4">
											1° Me interesa capacitarme para desarrollar aplicaciones móviles.
											<br>
											<br>
											2° Me llama la atención aprender a reparar máquinas y equipos industriales.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="TICS" required>
											<label class="form-check-label" for="pregunta2">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta2">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta3" class="text-black mb-4">
											Reactivo 3.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta3" class="text-black mb-4">
											1° Me interesa capacitarme para crear páginas web.
											<br>
											<br>
											2° Me llama la atención desarrollar la habilidad para realizar ventas.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="TICS" required>
											<label class="form-check-label" for="pregunta3">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta3">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta4" class="text-black mb-4">
											Reactivo 4.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta4" class="text-black mb-4">
											1° Me agrada cocinar.
											<br>
											<br>
											2° Me interesa aprender cómo se crea una red de internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta4">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="TICS" required>
											<label class="form-check-label" for="pregunta4">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta5" class="text-black mb-4">
											Reactivo 5.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta5" class="text-black mb-4">
											1° Me interesa saber sobre nutrición.
											<br>
											<br>
											2° Me llama la atención el funcionamiento de un equipo de aire
											acondicionado.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta5">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta5">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta6" class="text-black mb-4">
											Reactivo 6.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta6" class="text-black mb-4">
											1° Me agrada conocer nuevas técnicas culinarias.
											<br>
											<br>
											2° Me interesan los artículos de temas relacionados con el marketing y
											publicidad.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta6">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta6">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta7" class="text-black mb-4">
											Reactivo 7.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta7" class="text-black mb-4">
											1° Me llama la atención como hacer una instalación eléctrica.
											<br>
											<br>
											2° Me interesa trabajar en proyectos sobre tecnologías y comunicación.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta7">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="TICS" required>
											<label class="form-check-label" for="pregunta7">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta8" class="text-black mb-4">
											Reactivo 8.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta8" class="text-black mb-4">
											1° Me llama la atención el uso de equipos de medición de electricidad
											(multímetro, amperímetro,
											etc.).
											<br>
											<br>
											2° Me agrada preparar ricos e innovadores platillos.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta8">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta8">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta9" class="text-black mb-4">
											Reactivo 9.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta9" class="text-black mb-4">
											1° Me gusta el área Industrial.
											<br>
											<br>
											2° Me llama la atención conocer el desarrollo de nuevos productos en el
											mercado.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta9">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta9">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta10" class="text-black mb-4">
											Reactivo 10.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta10" class="text-black mb-4">
											1° Me llama la atención las técnicas que las empresas utilizan para que las
											personas compren sus
											productos o servicios.
											<br>
											<br>
											2° Me interesa aprender como conectar un grupo de computadoras a una red de
											internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta10">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="TICS" required>
											<label class="form-check-label" for="pregunta10">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta11" class="text-black mb-4">
											Reactivo 11.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta11" class="text-black mb-4">
											1° Me llama la atención la creación y producción de comerciales
											publicitarios.
											<br>
											<br>
											2° Me llama la atención la elaboración de pasteles.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta11">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta12" class="text-black mb-4">
											Reactivo 12.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta12" class="text-black mb-4">
											1° Me llama la atención la forma en que las empresas realizan sus ventas en
											línea.
											<br>
											<br>
											2° Me agradaría participar en proyectos industriales.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11" value="mantenimiento">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta12" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta12">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta13" class="text-black mb-4">
											Reactivo 13.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta13" class="text-black mb-4">
											1° Me llama la atención realizar programas de computadoras en distintos
											lenguajes.
											<br>
											<br>
											2° Me agrada la preparación de bebidas y cocktails.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="TICS" required>
											<label class="form-check-label" for="pregunta13">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta13">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta14" class="text-black mb-4">
											Reactivo 14.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta14" class="text-black mb-4">
											1° Me llama la atención como dos dispositivos móviles se conectan entre si.
											<br>
											<br>
											2° Me llama la atención implementar programas que contribuyan al ahorro de
											energía eléctrica.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="TICS" required>
											<label class="form-check-label" for="pregunta14">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta14">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta15" class="text-black mb-4">
											Reactivo 15.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta15" class="text-black mb-4">
											1° Me agradar aprender a darle mantenimiento a una computadora.
											<br>
											<br>
											2° Me interesa conocer las decisiones que toman las personas para adquirir
											un producto.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="TICS" required>
											<label class="form-check-label" for="pregunta15">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta15">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta16" class="text-black mb-4">
											Reactivo 16.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta16" class="text-black mb-4">
											1° Me llama la atención la forma en que se elabora un buen vino.
											<br>
											<br>
											2° Me interesa aprender a armar un cable de red de internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta16">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="TICS" required>
											<label class="form-check-label" for="pregunta16">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta17" class="text-black mb-4">
											Reactivo 17.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta17" class="text-black mb-4">
											1° Me llama la atención ser el organizador de algún evento gastronómico.
											<br>
											<br>
											2° Me llaman la atención el funcionamiento de los paneles solares.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta17">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta17">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta18" class="text-black mb-4">
											Reactivo 18.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta18" class="text-black mb-4">
											1° Me llama la atención la elaboración de repostería.
											<br>
											<br>
											2° Me agradan los proyectos orientados a la innovación, creatividad y diseño
											gráfico orientados
											hacia la mercadotecnia.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta18">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta18">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta19" class="text-black mb-4">
											Reactivo 19.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta19" class="text-black mb-4">
											1° Me gusta la reparación de aparatos electrodomésticos (refrigeradores,
											televisiones, aires
											acondicionados, etc).
											<br>
											<br>
											2° Me interesa aprender a diseñar bases de datos para sistemas de
											información.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="Mantenimiento de Negocios" required>
											<label class="form-check-label" for="pregunta19">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="TICS" required>
											<label class="form-check-label" for="pregunta19">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta20" class="text-black mb-4">
											Reactivo 20.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta20" class="text-black mb-4">
											1° Me llama la atención la electrónica.
											<br>
											<br>
											2° Me agradaría participar en eventos gastronómicos.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta20">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta20">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta21" class="text-black mb-4">
											Reactivo 21.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta21" class="text-black mb-4">
											1° Me llama la atención los equipos de seguridad industrial.
											<br>
											<br>
											2° Me agrada llevar a cabo la planeación y verificación de presupuestos al
											momento de iniciar un
											proyecto.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta21">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta21">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta22" class="text-black mb-4">
											Reactivo 22.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta22" class="text-black mb-4">
											1° Me llama la atención las estrategias que las empresas usan para fijar el
											precio a sus productos
											y/o servicios.
											<br>
											<br>
											2° Me interesa aprender a armar las computadoras (capacidad de disco duro,
											memoria RAM,
											procesador, etc).
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta22">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="TICS" required>
											<label class="form-check-label" for="pregunta22">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta23" class="text-black mb-4">
											Reactivo 23.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta23" class="text-black mb-4">
											1° Me llama la atención conocer como las empresas seleccionan a sus tipos de
											clientes.
											<br>
											<br>
											2° Me agradaría asistir a cursos de cocina.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta23">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta23">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta24" class="text-black mb-4">
											Reactivo 24.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta24" class="text-black mb-4">
											1° Me gustan las finanzas.
											<br>
											<br>
											2° Me gustaría trabajar en proyectos que contribuyan al cuidado del medio
											ambiente.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta24">
												Opción uno
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta24">
												Opción dos
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="col-12">
									<button class="btn btn-primary w-100 py-3">Enviar Respuestas</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}