{% extends "layout.html" %}

{% block content %}
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> InvenTux</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ url_for('user.test') }}" class="nav-item nav-link">Encuesta</a>
                <a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
                <a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="col-12 text-center">
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline text-primary ps-4">Encuesta</h6>
            <h2 class="mt-2">Elige un idioma o lengua para la encuesta</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Español</h5>
                    <p>Realizar la encuesta de intereses vocacionales en español.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testEs') }}">Comenzar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Nahuatl</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet
                        lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testNa') }}">Comenzar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Mixteco</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet
                        lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testMix') }}">Comenzar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Tlapaneco</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet
                        lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testTla') }}">Comenzar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Português</h5>
                    <p>Realizar a pesquisa de interesse vocacional em português.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testPor') }}">Iniciar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-file-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Français</h5>
                    <p>Réaliser l'enquête sur les intérêts professionnels en français.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="{{ url_for('user.testFra') }}">Commencer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}