{% extends "layout.html" %}

{% block content %}
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> Inventario</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{{ url_for('user.test') }}" class="nav-item nav-link">Encuesta</a>
                <a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
                <a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
            </div>
        </div>
    </nav>

    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="col-12 text-center">
            <h1 class="text-white animated zoomIn">Responde tu encuesta</h1>
            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item text-white">Aspirante</li>
                    <li class="breadcrumb-item text-white">Encuesta</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->

<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                <form action="https://formbold.com/s/FORM_ID" method="POST">
                    <div class="container-xl">
                        <label for="qusOne" class="formbold-form-label">
                            1° Me interesa aprender a reparar una computadora.
                            <br>
                            2° Me interesa saber la forma de elaboración de distintos tipos de pan.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusOne" id="qusOne" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusOne" id="qusOne" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusTwo" class="formbold-form-label">
                            1° Me interesa capacitarme para desarrollar aplicaciones móviles.
                            <br>
                            2° Me llama la atención aprender a reparar máquinas y equipos industriales.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusTwo" id="qusTwo" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusTwo" id="qusTwo" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me interesa capacitarme para crear páginas web.
                            <br>
                            2° Me llama la atención desarrollar la habilidad para realizar ventas.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me agrada cocinar.
                            <br>
                            2° Me interesa aprender cómo se crea una red de internet.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me interesa saber sobre nutrición.
                            <br>
                            2° Me llama la atención el funcionamiento de un equipo de aire acondicionado.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me agrada conocer nuevas técnicas culinarias.
                            <br>
                            2° Me interesan los artículos de temas relacionados con el marketing y publicidad.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención como hacer una instalación eléctrica.
                            <br>
                            2° Me interesa trabajar en proyectos sobre tecnologías y comunicación.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención el uso de equipos de medición de electricidad (multímetro,
                            amperímetro,
                            etc.).
                            <br>
                            2° Me agrada preparar ricos e innovadores platillos.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me gusta el área Industrial.
                            <br>
                            2° Me llama la atención conocer el desarrollo de nuevos productos en el mercado.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención las técnicas que las empresas utilizan para que las personas compren
                            sus productos o servicios.
                            <br>
                            2° Me interesa aprender como conectar un grupo de computadoras a una red de internet.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención la creación y producción de comerciales publicitarios.
                            <br>
                            2° Me llama la atención la elaboración de pasteles.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención la forma en que las empresas realizan sus ventas en línea.
                            <br>
                            2° Me agradaría participar en proyectos industriales.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención realizar programas de computadoras en distintos lenguajes.
                            <br>
                            2° Me agrada la preparación de bebidas y cocktails.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención como dos dispositivos móviles se conectan entre si.
                            <br>
                            2° Me llama la atención implementar programas que contribuyan al ahorro de energía eléctrica.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me agradaria aprender a darle mantenimiento a una computadoras.
                            <br>
                            2°  Me interesa conocer las decisiones que toman las personas para adquirir un producto.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1°  Me llama la atención la forma en que se elabora un buen vino.                            .
                            <br>
                            2° Me interesa aprender a armar un cable de red de internet.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1°  Me llama la atención ser el organizador de algún evento gastronómico.
                            <br>
                            2° Me llaman la atención el funcionamiento de los paneles solares.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1°  Me llama la atención la elaboración de repostería.                            .
                            <br>
                            2° Me agradan los proyectos orientados a la innovación, creatividad y diseño gráfico orientados hacia la mercadotecnia.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1°  Me gusta la reparación de aparatos electrodomésticos (refrigeradores, televisiones, aires acondicionados, etc).                           .
                            <br>
                            2° Me interesa aprender a diseñar bases de datos para sistemas de información.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención la electrónica.
                            <br>
                            2° Me agradaría participar en eventos gastronómicos.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención los equipos de seguridad industrial.
                            <br>
                            2° Me agrada llevar a cabo la planeación y verificación de presupuestos al momento de iniciar un proyecto.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención las estrategias que las empresas usan para fijar el precio a sus productos y/o servicios.
                            <br>
                            2° Me interesa aprender a armar las computadoras (capacidad de disco duro, memoria RAM, procesador, etc).
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me llama la atención conocer como las empresas seleccionan a sus tipos de clientes.
                            <br>
                            2° Me agradaría asistir a cursos de cocina.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="formbold-mb-5">
                        <label for="qusThree" class="formbold-form-label">
                            1° Me gustan las finanzas.
                            <br>
                            2°  Me gustaría trabajar en proyectos que contribuyan al cuidado del medio ambiente.
                        </label>
                        <div class="formbold-radio-flex">
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción uno
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                            <div class="formbold-radio-group">
                                <label class="formbold-radio-label">
                                    <input class="formbold-input-radio" type="radio" name="qusThree" id="qusThree" />
                                    Opción dos
                                    <span class="formbold-radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <button class="formbold-btn">Submit</button>
                </form>
            </div>
        </div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: 'Inter', sans-serif;
            }

            .formbold-main-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 48px;
                
            }

            .formbold-form-wrapper {
                margin: 0 auto;
                max-width: 570px;
                width: 100%;
                background: white;
                padding: 40px;
            }

            .formbold-img {
                margin-bottom: 40px;
            }

            .formbold-input-flex {
                display: flex;
                gap: 20px;
                margin-bottom: 30px;
            }

            .formbold-input-flex>div {
                width: 50%;
            }

            .formbold-form-input {
                width: 100%;
                padding: 13px 22px;
                border-radius: 5px;
                border: 1px solid #dde3ec;
                background: #ffffff;
                font-weight: 500;
                font-size: 16px;
                color: #536387;
                outline: none;
                resize: none;
            }

            .formbold-form-input:focus {
                border-color: #6a64f1;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }

            .formbold-form-label {
                color: #536387;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                display: block;
                margin-bottom: 10px;
            }

            .formbold-mb-5 {
                margin-bottom: 20px;
            }

            .formbold-radio-flex {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .formbold-radio-label {
                font-size: 14px;
                line-height: 24px;
                color: #07074d;
                position: relative;
                padding-left: 25px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .formbold-input-radio {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .formbold-radio-checkmark {
                position: absolute;
                top: -1px;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: #ffffff;
                border: 1px solid #dde3ec;
                border-radius: 50%;
            }

            .formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark {
                background-color: #6a64f1;
            }

            .formbold-radio-checkmark:after {
                content: '';
                position: absolute;
                display: none;
            }

            .formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark:after {
                display: block;
            }

            .formbold-radio-label .formbold-radio-checkmark:after {
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #ffffff;
                transform: translate(-50%, -50%);
            }

            .formbold-btn {
                text-align: center;
                width: 100%;
                font-size: 16px;
                border-radius: 5px;
                padding: 14px 25px;
                border: none;
                font-weight: 500;
                background-color: #6a64f1;
                color: white;
                cursor: pointer;
                margin-top: 25px;
            }

            .formbold-btn:hover {
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }
        </style>
    </div>
</div>
<!-- About End -->
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}