{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
	<h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('user.testEs') }}" class="nav-item nav-link">Test</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
	<div class="container-lg">
		<div class="row align-items-start">
			<div class="container">
				<div class="card shadow">
					<div class="card-body">
						<form action="/guardar/" method="POST">
							<input type="hidden" name="user_id" value="{{ user._id }}">
							<div class="container">
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta1" class="text-black mb-4">
											Reactivo 1.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta1" class="text-black mb-4">
											1° I am interested in learning how to repair a computer.
											<br>
											<br>
											2° I am interested in knowing how different types of bread are made.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1" id="pregunta1"
												value="TICS" required>
											<label class="form-check-label" for="pregunta1">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1" id="pregunta1"
												value="Gastronomía" required>
											<label class="form-check-label" for="pregunta1">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta2" class="text-black mb-4">
											Reactivo 2.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta2" class="text-black mb-4">
											1° I am interested in training to develop mobile applications.
											<br>
											<br>
											2° I am interested in learning how to repair industrial machines and
											equipment.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2" id="pregunta2"
												value="TICS" required>
											<label class="form-check-label" for="pregunta2">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2" id="pregunta2"
												value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta2">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta3" class="text-black mb-4">
											Reactivo 3.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta3" class="text-black mb-4">
											1° I am interested in training to create web pages.
											<br>
											<br>
											2° I am interested in developing the ability to make sales.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3" id="pregunta3"
												value="TICS" required>
											<label class="form-check-label" for="pregunta3">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3" id="pregunta3"
												value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta3">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta4" class="text-black mb-4">
											Reactivo 4.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta4" class="text-black mb-4">
											1° I like to cook.
											<br>
											<br>
											2° I am interested in learning how to create an Internet network.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4" id="pregunta4"
												value="Gastronomía" required>
											<label class="form-check-label" for="pregunta4">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4" id="pregunta4"
												value="TICS" required>
											<label class="form-check-label" for="pregunta4">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta5" class="text-black mb-4">
											Reactivo 5.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta5" class="text-black mb-4">
											1° I am interested in knowing about nutrition.
											<br>
											<br>
											2° The operation of an air conditioning unit catches my attention.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5" id="pregunta5"
												Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta5">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5" id="pregunta5"
												Value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta5">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta6" class="text-black mb-4">
											Reactivo 6.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta6" class="text-black mb-4">
											1° I like to learn new culinary techniques.
											<br>
											<br>
											2° I am interested in articles on topics related to marketing and
											advertising.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6" id="pregunta6"
												Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta6">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6" id="pregunta6"
												value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta6">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta7" class="text-black mb-4">
											Reactivo 7.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta7" class="text-black mb-4">
											1° I am interested in how to do an electrical installation.
											<br>
											<br>
											2° I am interested in working on projects about technologies and
											communication.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7" id="pregunta7"
												value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta7">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7" id="pregunta7"
												value="TICS" required>
											<label class="form-check-label" for="pregunta7">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta8" class="text-black mb-4">
											Reactivo 8.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta8" class="text-black mb-4">
											1° The use of electricity measurement equipment (multimeter,
											ammeter, etc.).
											<br>
											<br>
											2° I like to prepare delicious and innovative dishes.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8" id="pregunta8"
												value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta8">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8" id="pregunta8"
												value="Gastronomía" required>
											<label class="form-check-label" for="pregunta8">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta9" class="text-black mb-4">
											Reactivo 9.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta9" class="text-black mb-4">
											1° I like the Industrial area.
											<br>
											<br>
											2° I am interested in knowing the development of new products on the market.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9" id="pregunta9"
												value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta9">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9" id="pregunta9"
												value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta9">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta10" class="text-black mb-4">
											Reactivo 10.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta10" class="text-black mb-4">
											1° I am struck by the techniques that companies use to ensure that
											people buy your products or services.
											<br>
											<br>
											2° I am interested in learning how to connect a group of computers to a
											network.
											Internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta10">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="TICS" required>
											<label class="form-check-label" for="pregunta10">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta11" class="text-black mb-4">
											Reactivo 11.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta11" class="text-black mb-4">
											1° The creation and production of advertising commercials catches my
											attention.
											<br>
											<br>
											2° I am interested in making cakes.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta11">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta12" class="text-black mb-4">
											Reactivo 12.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta12" class="text-black mb-4">
											1° I am struck by the way in which companies make their sales in
											line.
											<br>
											<br>
											2° I would like to participate in industrial projects.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11" value="mantenimiento">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta12" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta12">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta13" class="text-black mb-4">
											Reactivo 13.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta13" class="text-black mb-4">
											1° I am interested in creating computer programs in different
											idioms.
											<br>
											<br>
											2° I like the preparation of drinks and cocktails.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="TICS" required>
											<label class="form-check-label" for="pregunta13">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta13">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta14" class="text-black mb-4">
											Reactivo 14.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta14" class="text-black mb-4">
											1° I am struck by how two mobile devices connect to each other.
											<br>
											<br>
											2° I am interested in implementing programs that contribute to saving
											electric power.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="TICS" required>
											<label class="form-check-label" for="pregunta14">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta14">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta15" class="text-black mb-4">
											Reactivo 15.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta15" class="text-black mb-4">
											1° I would like to learn how to maintain a computer.
											<br>
											<br>
											2° I am interested in knowing the decisions that people make to acquire a
											product.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="TICS" required>
											<label class="form-check-label" for="pregunta15">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta15">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta16" class="text-black mb-4">
											Reactivo 16.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta16" class="text-black mb-4">
											1° I am struck by the way in which a good wine is made.
											<br>
											<br>
											2° I am interested in learning how to assemble an internet network cable.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta16">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="TICS" required>
											<label class="form-check-label" for="pregunta16">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta17" class="text-black mb-4">
											Reactivo 17.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta17" class="text-black mb-4">
											1° I am interested in being the organizer of a gastronomic event.
											<br>
											<br>
											2° The operation of solar panels catches my attention.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta17">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta17">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta18" class="text-black mb-4">
											Reactivo 18.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta18" class="text-black mb-4">
											1° The preparation of pastries catches my attention.
											<br>
											<br>
											2° I like projects oriented towards innovation, creativity and design
											marketing-oriented graphics.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta18">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta18">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta19" class="text-black mb-4">
											Reactivo 19.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta19" class="text-black mb-4">
											1° I like the repair of household appliances (refrigerators,
											televisions, air conditioners, etc.).
											<br>
											<br>
											2° I am interested in learning how to design databases for information
											systems.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta19">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="TICS" required>
											<label class="form-check-label" for="pregunta19">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta20" class="text-black mb-4">
											Reactivo 20.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta20" class="text-black mb-4">
											1° Electronics catches my attention.
											<br>
											<br>
											2° I would like to participate in gastronomic events.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta20">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta20">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta21" class="text-black mb-4">
											Reactivo 21.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta21" class="text-black mb-4">
											1° Industrial safety equipment catches my attention.
											<br>
											<br>
											2° I like to carry out the planning and verification of budgets at
											time to start a project.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta21">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta21">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta22" class="text-black mb-4">
											Reactivo 22.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta22" class="text-black mb-4">
											1° I am struck by the strategies that companies use to set the price.
											to their products and/or services.
											<br>
											<br>
											2° I am interested in learning how to assemble computers (hard drive
											capacity, RAM memory, processor, etc.).
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta22">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="TICS" required>
											<label class="form-check-label" for="pregunta22">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta23" class="text-black mb-4">
											Reactivo 23.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta23" class="text-black mb-4">
											1° I am interested in knowing how companies select their types of employees.
											customers.
											<br>
											<br>
											2° I would like to attend cooking courses.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta23">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta23">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta24" class="text-black mb-4">
											Reactivo 24.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta24" class="text-black mb-4">
											1° I like finances.
											<br>
											<br>
											2° I would like to work on projects that contribute to caring for the
											environment atmosphere.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta24">
												Option 1°
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta24">
												Option 2°
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="col-12">
									<button class="btn btn-primary w-100 py-3">Enviar Respuestas</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}