{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('user.testMix') }}" class="nav-item nav-link">Test</a>
<a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
	<div class="container-lg">
		<div class="row align-items-start">
			<div class="container">
				<div class="card shadow">
					<div class="card-body">
						<form action="/guardar/" method="POST">
							<input type="hidden" name="user_id" value="{{ user._id }}">
							<div class="container">
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta1" class="text-black mb-4">
											Reactivo 1.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta1" class="text-black mb-4">
											1° xìni si’ì sanda’a yu taa computadora.
											<br>
											<br>
											2° xi xìni si’i kutùvai ndasaa keì nuun ndi’i xita va’a.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="TICS" required>
											<label class="form-check-label" for="pregunta1">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta1">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta2" class="text-black mb-4">
											Reactivo 2.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta2" class="text-black mb-4">
											1° xìni si’i sakua’a yu ke’yu ña ndityî  aplicaciones móviles.
											<br>
											<br>
											2° kùni kunda ini ni saa sanda’a yu maquina xi’in ña equipo industrial.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="TICS" required>
											<label class="form-check-label" for="pregunta2">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta2">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta3" class="text-black mb-4">
											Reactivo 3.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta3" class="text-black mb-4">
											1° xìni si’i kutuva yu ndisaa ke’e yu página web.
											<br>
											<br>
											2° xi xìni si’i kutuva yu ndasaa kama ni xikò yu.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="TICS" required>
											<label class="form-check-label" for="pregunta3">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta3">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta4" class="text-black mb-4">
											Reactivo 4.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta4" class="text-black mb-4">
											1° Ña in: kuva’a ini ke’e yu ña kuxi yo.
											<br>
											<br>
											2° xìni si’i kutuva yu ndasaa ke’e yu ña red internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta4">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="TICS" required>
											<label class="form-check-label" for="pregunta4">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta5" class="text-black mb-4">
											Reactivo 5.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta5" class="text-black mb-4">
											1° xìni si’ì kunda ni ña va’a kuxiò.
											<br>
											<br>
											2° kuni kunda ini mi kee tatyi vixin tixi kaa tava tatyi .
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta5">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta5">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta6" class="text-black mb-4">
											Reactivo 6.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta6" class="text-black mb-4">
											1° xìni si’ì kutuva yu ndisaa nu  nuun ña kuviì kuxi yò.
											<br>
											<br>
											2° xi xìni si’i kutuva yu   nuùn kunda ini   ña ka’an xa’a marketing y publicidad.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta6">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta6">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta7" class="text-black mb-4">
											Reactivo 7.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta7" class="text-black mb-4">
											1° kuni kutuva ini nisaa ke’e na kundi kaa  tutyi ñu’u tùun.
											<br>
											<br>
											2° xìni si’i katyiñu yu xa’a  ndii proyecto ña ka’an xa’a tecnologías y comunicación.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta7">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="TICS" required>
											<label class="form-check-label" for="pregunta7">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta8" class="text-black mb-4">
											Reactivo 8.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta8" class="text-black mb-4">
											1° kuni kunda ini ni saa ixa tyìñu kaa tyu’un ñu’u tùun.
											<br>
											<br>
											2° xìni si’ì  xasin ke’e yu ña xixi yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta8">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta8">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta9" class="text-black mb-4">
											Reactivo 9.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta9" class="text-black mb-4">
											1° ku va’a ini kundaa ini ya’a área industrial.
											<br>
											<br>
											2° kuva’a ini kundani xa’a ña xikò yo mercado nanun.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta9">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta9">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta10" class="text-black mb-4">
											Reactivo 10.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta10" class="text-black mb-4">
											1° kuni  kunda ini nisaa ixa na empresa nanu ixiko na ña’a na.
											<br>
											<br>
											2° xi xìni si’i kutuva yu nisaa tyika yo internet nu kua’a computadora.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta10">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="TICS" required>
											<label class="form-check-label" for="pregunta10">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta11" class="text-black mb-4">
											Reactivo 11.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta11" class="text-black mb-4">
											1° kuni  kunda ini nisaa koo tava yu comercial publicitario.
											<br>
											<br>
											2° xi xìni si’i kutuva yu nisaa ke’e na pastel.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta11">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta12" class="text-black mb-4">
											Reactivo 12.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta12" class="text-black mb-4">
											1° : kuni kunda ini nisaa ixa na empresa nanun ixikona tixi kaa ndityî.
											<br>
											<br>
											2° ku va’a ini  nisaa katyiñu yu tixi proyecto industrial.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11" value="mantenimiento">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta12" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta12">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta13" class="text-black mb-4">
											Reactivo 13.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta13" class="text-black mb-4">
											1° xìni si’ì ke’i tixi computadora kua’a nu programa ña ka’an ndi’i tu’un ka’an yo.
											<br>
											<br>
											2° ku va’a ini  nisaa ke’e yù tikui sana ko’o yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="TICS" required>
											<label class="form-check-label" for="pregunta13">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta13">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta14" class="text-black mb-4">
											Reactivo 14.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta14" class="text-black mb-4">
											1° kuni kunda ini ndatyun kuvi ndiki ta’an uvi dispositivos móvil.
											<br>
											<br>
											2° kuni kunda ini nisaa kunda yo ñu’un tùn nu yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="TICS" required>
											<label class="form-check-label" for="pregunta14">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta14">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta15" class="text-black mb-4">
											Reactivo 15.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta15" class="text-black mb-4">
											1° xìni si’ì kunda ini sakua’a yu nisaa sanda’a yu computadora.
											<br>
											<br>
											2° kuni kunda ini nisaa ixa na xuvi kàxi na ña sata na.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="TICS" required>
											<label class="form-check-label" for="pregunta15">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta15">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta16" class="text-black mb-4">
											Reactivo 16.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta16" class="text-black mb-4">
											1° kuni kunda ini nisaa ke’e yu tikui ndixi sii.
											<br>
											<br>
											2° kuni kutuva yu nisaa sandiki ta’an yo tutyi ña internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta16">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="TICS" required>
											<label class="form-check-label" for="pregunta16">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta17" class="text-black mb-4">
											Reactivo 17.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta17" class="text-black mb-4">
											1° kuni ndaka yu kua’a na xuvi ke’e ña yasin xixi yo.
											<br>
											<br>
											2° kuni kutuva yu nisaa ixa tyiñu kaa taxi ñu’un tu’un solar.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta17">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta17">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta18" class="text-black mb-4">
											Reactivo 18.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta18" class="text-black mb-4">
											1° xìni si’ì kutuva yu ke’e yu pastel.
											<br>
											<br>
											2° kuva’a ini nisaa que yu proyecto ña ka’an xa’a ña ndityî, ña nduvi xa’a ña xiko yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta18">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta18">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta19" class="text-black mb-4">
											Reactivo 19.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta19" class="text-black mb-4">
											1° kuni kutuva yu sanda’a yu takundi’i nun ndi’i  kaa electrodomésticos.
											<br>
											<br>
											2° kuni kutuva yu ke’e yu base de datos ña ka’an xa’a sistema de información. 
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="Mantenimiento de Negocios" required>
											<label class="form-check-label" for="pregunta19">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="TICS" required>
											<label class="form-check-label" for="pregunta19">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta20" class="text-black mb-4">
											Reactivo 20.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta20" class="text-black mb-4">
											1° ku va ‘a ini kundani xa’a ndi’i nun itun kaa katyiñu xi’in ñu’u tun.
											<br>
											<br>
											2° kuva’a ini ke’e yu ña kuva’a yasin kuxi yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta20">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta20">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta21" class="text-black mb-4">
											Reactivo 21.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta21" class="text-black mb-4">
											1° nadakani xini nisaa iyo xa’a equipo de seguridad industrial.
											<br>
											<br>
											2° xini si’i kundiso tyiñu yu xa’a  tutu ña ka’an nisaa ki’in xa’a yo proyecto.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta21">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta21">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta22" class="text-black mb-4">
											Reactivo 22.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta22" class="text-black mb-4">
											1°kuni kundaa ini yu nisaa ixa na empresa na’anu tyikana xa’avi takundi’i ña’a ixiko na.
											<br>
											<br>
											2° xi xìni si’i kutuva yu nisaa sandiki ta’an yo computadora nda ña disco duro, memoria RAM, procesador…
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta22">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="TICS" required>
											<label class="form-check-label" for="pregunta22">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta23" class="text-black mb-4">
											Reactivo 23.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta23" class="text-black mb-4">
											1° : kuni kunda ini nisaa kàxina yuvi sata nuun na ixikò.
											<br>
											<br>
											2° xini si’i kui’in nu sakua’a na ña kuvi’i kuxi yo.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta23">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta23">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta24" class="text-black mb-4">
											Reactivo 24.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta24" class="text-black mb-4">
											1° xini si’i kundika yu nu ta’a vi xu’un.
											<br>
											<br>
											2° kuni ni ini yu katyiñu yu xa’a proyecto ña ka’an nisaa kunda yo ña yu’vi un ndee yò.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta24">
												Ña in
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta24">
												Ña ovi
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="col-12">
									<button class="btn btn-primary w-100 py-3">Enviar Respuestas</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}