{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('user.test') }}" class="nav-item nav-link">Encuesta</a>
<a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
	<div class="container-lg">
		<div class="row align-items-start">
			<div class="container">
				<div class="card shadow">
					<div class="card-body">
						<form action="/guardar/" method="POST">
							<input type="hidden" name="user_id" value="{{ user._id }}">
							<div class="container">
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta1" class="text-black mb-4">
											Reactivo 1.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta1" class="text-black mb-4">
											1° Náníkú mámáñú mání mbó computadora.
											<br>
											<br>
											2° Náníkú mbáyó xó gúmáa gúmá wábáá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="TICS" required>
											<label class="form-check-label" for="pregunta1">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta1"
												id="pregunta1" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta1">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta2" class="text-black mb-4">
											Reactivo 2.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta2" class="text-black mb-4">
											1° Náníkú mámáñú mání gámá xó mágúgúá aplicación ríkó celulará.
											<br>
											<br>
											2° Náníkú mámáñú mání gámá xó mágúgúá máquina rí gídó industrial rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="TICS" required>
											<label class="form-check-label" for="pregunta2">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta2"
												id="pregunta2" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta2">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta3" class="text-black mb-4">
											Reactivo 3.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta3" class="text-black mb-4">
											1° Náníkú míxgóó xó mání crear página rígó wed rá.
											<br>
											<br>
											2° Náníkú mámáñú mágúwáá rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="TICS" required>
											<label class="form-check-label" for="pregunta3">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta3"
												id="pregunta3" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta3">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta4" class="text-black mb-4">
											Reactivo 4.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta4" class="text-black mb-4">
											1° Náníkú mání mújúu comida rá.
											<br>
											<br>
											2° Náníkú míxgóó xó mání crear página rígó Internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta4">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta4"
												id="pregunta4" value="TICS" required>
											<label class="form-check-label" for="pregunta4">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta5" class="text-black mb-4">
											Reactivo 5.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta5" class="text-black mb-4">
											1° Náníkú máxú númú xó mákúítsú míjá rá.
											<br>
											<br>
											2° Náthú ákíú mamáñú mágúkúá xó ákúá rí nání mígúwá rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta5">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta5"
												id="pregunta5" Value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta5">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta6" class="text-black mb-4">
											Reactivo 6.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta6" class="text-black mb-4">
											1° Náníkú mamínú xó mánímújú rí míkúrá.
											<br>
											<br>
											2° Náníkú mánínú xó tema rígó xó máxnáráá rí nágúwárá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" Value="Gastronomía" required>
											<label class="form-check-label" for="pregunta6">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta6"
												id="pregunta6" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta6">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta7" class="text-black mb-4">
											Reactivo 7.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta7" class="text-black mb-4">
											1° Náníkú mamáñú xó mání mbá instalación rígó ágú rá.
											<br>
											<br>
											2° Násáwámíná máñájún mbó ná proyecto rígó tecnología y comunicación rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta7">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta7"
												id="pregunta7" value="TICS" required>
											<label class="form-check-label" for="pregunta7">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta8" class="text-black mb-4">
											Reactivo 8.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta8" class="text-black mb-4">
											1° Náníkú mamáñú xó mágúkúa equipo rí máxtíewá rígó ágú xó rí mbíyú (multímetro gámá amperímetro, etc.)
											<br>
											<br>
											2° Náníkú mánímújú comida rí mítsí rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta8">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta8"
												id="pregunta8" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta8">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta9" class="text-black mb-4">
											Reactivo 9.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta9" class="text-black mb-4">
											1° Náníkú área rígó industrial rá.
											<br>
											<br>
											2° Náníkú mámáñú mánínú xó mákúdá núxí producto rígó ná áún mercado rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta9">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta9"
												id="pregunta9" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta9">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta10" class="text-black mb-4">
											Reactivo 10.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta10" class="text-black mb-4">
											1° Náníkú mamáñú xó mámú técnica rígó tienda rí mbáó xó éní íkí rí wádí xámbó nútsú.
											<br>
											<br>
											2° Náníkú mamáñú xo mákúdá internet ná éwáá computadora.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta10">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta10"
												id="pregunta10" value="TICS" required>
											<label class="form-check-label" for="pregunta10">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta11" class="text-black mb-4">
											Reactivo 11.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta11" class="text-black mb-4">
											1° Náníkú mamáñú xó mání publicar xókí rí nágúwá rá.
											<br>
											<br>
											2° Náníkú mamáñú mání pastel rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta11"
												id="pregunta11" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta11">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta12" class="text-black mb-4">
											Reactivo 12.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta12" class="text-black mb-4">
											1° Náníkú xó éní éwá empresa xó nágúwá ná línea rá.
											<br>
											<br>
											2° Rákáthá níkú máthóó mání participar ná áún ríkó mbó proyecto industrial rá. 
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta11" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta11" value="mantenimiento">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta12"
												id="pregunta12" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta12">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta13" class="text-black mb-4">
											Reactivo 13.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta13" class="text-black mb-4">
											1° Náníkú mamáñú xó mání éwáá programa rígó ángá ná áún ná computadora rá. 
											<br>
											<br>
											2° Náníkú mamáñu mánímújí íyá tháú rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="TICS" required>
											<label class="form-check-label" for="pregunta13">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta13"
												id="pregunta13" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta13">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta14" class="text-black mb-4">
											Reactivo 14.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta14" class="text-black mb-4">
											1° Náníkú mamáñu xó gúmá atmá dispositivo nándo gúmá conectar entre íkárá.
											<br>
											<br>
											2° Náníkú mamáñu xó mání implementar programa rí.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="TICS" required>
											<label class="form-check-label" for="pregunta14">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta14"
												id="pregunta14" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta14">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta15" class="text-black mb-4">
											Reactivo 15.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta15" class="text-black mb-4">
											1° Náníkú mamáñu xó mání mbó computadora.
											<br>
											<br>
											2° Náníkú mamáñu xó éní xámbó rí námáñú nútsí mbo producto.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="TICS" required>
											<label class="form-check-label" for="pregunta15">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta15"
												id="pregunta15" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta15">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta16" class="text-black mb-4">
											Reactivo 16.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta16" class="text-black mb-4">
											1° Náníkú mamáñu xó mánímújú íyá mídí rá.
											<br>
											<br>
											2° Náníkú mamáñu xó mání armar cable rígó internet.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta16">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta16"
												id="pregunta16" value="TICS" required>
											<label class="form-check-label" for="pregunta16">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta17" class="text-black mb-4">
											Reactivo 17.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta17" class="text-black mb-4">
											1° Nánígú mamáñú xó mání organizar mbá evento rí nágúma rí mítsú.
											<br>
											<br>
											2° Nánígú mamáñú xó gúmá ó xó yájú mbó panel ríkó áká.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta17">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta17"
												id="pregunta17" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta17">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta18" class="text-black mb-4">
											Reactivo 18.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta18" class="text-black mb-4">
											1° Nánígú mamáñú xó gúmá xúkí xó gídó mbáyó repostería.
											<br>
											<br>
											2° Rákáthá níkú mánínú proyecto núxí rí náxká xó mátháné májhá mbó rí máthágúwá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta18">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta18"
												id="pregunta18" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta18">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta19" class="text-black mb-4">
											Reactivo 19.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta19" class="text-black mb-4">
											1° Rákáthá níkú mamáñú xó mání mbá aparato rígó xó refrigerador, telí, ventidador.
											<br>
											<br>
											2° Náníkú mamáñú xó mágúxí xúkí éyí ná áún mbó sistema rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="Mantenimiento de Negocios" required>
											<label class="form-check-label" for="pregunta19">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta19"
												id="pregunta19" value="TICS" required>
											<label class="form-check-label" for="pregunta19">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta20" class="text-black mb-4">
											Reactivo 20.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta20" class="text-black mb-4">
											1° Náníkú xúkí rí gídó mbáyó electrónica rá.
											<br>
											<br>
											2° Rá káthá níkú mání participar mbó ná evento gastronómico rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta20">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta20"
												id="pregunta20" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta20">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta21" class="text-black mb-4">
											Reactivo 21.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta21" class="text-black mb-4">
											1° Náníkú xúkí rí gídó mbáyó equipo de seguridad industrial rá.
											<br>
											<br>
											2° Náníkú mbáyó xó mamáyú mánígáma xó mágákayó mbo control ríkó mbó negocio núxí rá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta21">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta21"
												id="pregunta21" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta21">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta22" class="text-black mb-4">
											Reactivo 22.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta22" class="text-black mb-4">
											1° Náníkú xó éní éwá empresa rí ndúyá estrategia ri múgímá precio rí núgújúá.
											<br>
											<br>
											2° Náníkú mamáñú xó mání mbó computadora rá xórí máxúdá disco rigo, memoria RAM, gámá procesador rígó.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta22">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta22"
												id="pregunta22" value="TICS" required>
											<label class="form-check-label" for="pregunta22">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta23" class="text-black mb-4">
											Reactivo 23.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta23" class="text-black mb-4">
											1° Náníkú mámáñú mánínú xú éní éwá empresa rí námáñú núní seleccionar cliente ríkú.
											<br>
											<br>
											2° Náníkú máxthá mbó ná curso rígó ná núní májhá comida rí mítsú.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta23">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta23"
												id="pregunta23" value="Gastronomía" required>
											<label class="form-check-label" for="pregunta23">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col order-first text-center">
										<h6 for="pregunta24" class="text-black mb-4">
											Reactivo 24.
										</h6>
									</div>
									<div class="col-sm-5 col-md-6">
										<h6 for="pregunta24" class="text-black mb-4">
											1° Náníkú mbáyó xúkí xó gúmá manejar mbúká rá.
											<br>
											<br>
											2° Náníkú máxthá máyájúm mbó ná proyecto rí mátháñáwá númbá rí xó mátháyáwá íxí, íyá, xúkurá, xúkí rí gídó mbáyó medio ambiente rígólórá.
										</h6>
									</div>
									<div class="col-6 col-sm-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Desarrollo de Negocios" required>
											<label class="form-check-label" for="pregunta24">
												Kíxtháwí mbó
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="pregunta24"
												id="pregunta24" value="Mantenimiento Industrial" required>
											<label class="form-check-label" for="pregunta24">
												Kíxtháwí átmá
											</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="col-12">
									<button class="btn btn-primary w-100 py-3">Enviar Respuestas</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}