{% extends "layout.html" %}

{% block content %}
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-search me-2"></i>UTA<span class="fs-5"> InvenTux</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                {% if not user.has_completed_survey %}
                <a href="{{ url_for('user.test') }}" class="nav-item nav-link">Encuesta</a>
                {% endif %}
                <a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
                <a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
            </div>
        </div>
    </nav>
    <div class="container-xxl py-5 bg-primary hero-header">
        <div class="col-12 text-center">
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">Inicio</h6>
                    <h2 class="mt-2">¡Bienvenid@ {{ user.name }}!</h2>
                </div>
                <p class="mb-4">¡Hola y bienvenido a nuestra aplicación de pruebas de
                    intereses vocacionales!
                    Esperamos que disfrutes haciendo el test y que encuentres los resultados útiles y reveladores.
                    No dudes en explorar las herramientas y recursos que tenemos disponibles para ayudarte en tu
                    viaje de exploración vocacional.</p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Gastronomía</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Tecnologías de la Información</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Mantenimiento Industrial</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Desarrollo de Negocios</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                    {% if not user.has_completed_survey %}
                    <a class="btn btn-primary rounded-pill px-4 me-3" href="{{ url_for('user.test') }}">Empezar</a>
                    {% endif %}
                    {% if user.carrera %}
                    <button class="btn btn-primary rounded-pill px-4 me-3" id="btn-edit{{ user._id }}"
                        data-bs-toggle="modal" data-bs-target="#modal{{ user._id }}">Revisar datos</button>
                    {% else %}
                    <button class="btn btn-primary rounded-pill px-4 me-3" id="btn-edit{{ user._id }}"
                        data-bs-toggle="modal" data-bs-target="#modal{{ user._id }}">Actualizar datos</button>
                    {% endif %}
                </div>
                <div class="modal fade" id="modal{{user._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if user.carrera %}
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos actualizados</h1>
                                {% else %}
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar datos</h1>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/update/" method="POST">
                                    <input type="hidden" name="user_id" value="{{ user._id }}">
                                    <div>
                                        <label>Nombre:</label>
                                        {% if user.name %}
                                        <input class="form-control mb-2" value="{{ user.name }}" type="text" name="name"
                                            readonly>
                                        {% else %}
                                        <input class="form-control mb-2" value="{{ user.name }}" type="text" name="name"
                                            required>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <label>Carrera a postularse:</label>
                                        {% if user.carrera%}
                                        <input class="form-control mb-2" value="{{ user.carrera }}" type="text"
                                            name="name" readonly>
                                        {% else %}
                                        <select class="form-control mb-2" name="carrera" required>
                                            <option value="TICS">TICS</option>
                                            <option value="Gastronomía">Gastronomía</option>
                                            <option value="Mantenimiento Industrial">Mantenimiento Industrial</option>
                                            <option value="Desarrollo de Negocios">Desarrollo de Negocios</option>
                                        </select>
                                        {% endif %}
                                    </div>
                                    {% if user.carrera %}

                                    {% else %}
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s"
                    src="{{ url_for('static', filename='img/test.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}