{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('user.user') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
{% if user.has_completed_survey %}
<a href="{{ url_for('user.results') }}" class="nav-item nav-link">Resultados</a>
{% elif user.has_completed_hubspot_form %}
<a href="{{ url_for('user.test') }}" class="nav-item nav-link">Test</a>
{% else %}
<a href="{{ url_for('user.instrucciones') }}" class="nav-item nav-link">Formulario</a>
{% endif %}
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">Inicio</h6>
                    <h2 class="mt-2">¡Bienvenid@ {{ user.firstname }} {{ user.lastname }}!</h2>
                </div>
                <p class="mb-4">¡Hola y bienvenido a nuestra aplicación basada en el Inventario de Intereses
                    Vocacionales propuesto por G. F. Kuder!
                    Esperamos que disfrutes haciendo el test y que encuentres los resultados útiles y reveladores.
                    No dudes en explorar la herramienta que tenemos disponible para ayudarte en tu viaje de exploración
                    vocacional.</p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Gastronomía</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Tecnologías de la Información</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Mantenimiento Industrial</h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Desarrollo de Negocios</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                    {% if user.has_completed_survey %}
                    <a class="btn btn-primary rounded-pill px-4 me-3"
                        href="{{ url_for('user.results') }}">Resultados</a>
                    {% elif user.has_completed_hubspot_form %}
                    <a class="btn btn-primary rounded-pill px-4 me-3" href="{{ url_for('user.test') }}">Empezar</a>
                    {% else %}
                    <a class="btn btn-primary rounded-pill px-4 me-3"
                        href="{{ url_for('user.instrucciones') }}">Formulario</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s"
                    src="{{ url_for('static', filename='img/test.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('user.user') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('user.user') }}">Inicio</a>
{% endblock %}