{% extends "layout.html" %}

{% block one %}
<a href="{{ url_for('admin.admin') }}" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-search me-2"></i>Kuder<span class="fs-5"></span></h1>
</a>
{% endblock %}

{% block two %}
<a href="{{ url_for('admin.registro') }}" class="nav-item nav-link">Registro</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Listas</a>
    <div class="dropdown-menu m-0">
        <a href="{{ url_for('admin.users') }}" class="dropdown-item">Aspirantes</a>
        <a href="{{ url_for('admin.admins') }}" class="dropdown-item">Administradores</a>
    </div>
</div>
<a href="{{ url_for('admin.correos') }}" class="nav-item nav-link">Correos</a>
<a href="{{ url_for('session.logout') }}" class="nav-item nav-link">Cerrar Sesión</a>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline text-primary ps-4">Listas</h6>
            <h2 class="mt-2">Aspirantes</h2>
        </div>
        <form method="post" action="{{ url_for('admin.users') }}">
            <div class="row g-2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" placeholder="Buscar usuarios" name="search_query">
                </div>
                <div class="col mb-3">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
        <div class="row g-5">
            {% for user in users %}
            <div class="col-md-6 mb-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">{{ user.firstname }} {{ user.lastname }}</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <input type="hidden" class="form-control" value="{{ user._id }}" name="id" readonly>
                                    <small>Ficha</small>
                                    <input type="text" class="form-control" value="{{ user.email }}" readonly>
                                </div>
                                <div class="col">
                                    <small>Hora de creación</small>
                                    <input type="text" class="form-control" value="{{ user.datetime }}" readonly>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <small>Carrera a postularse</small>
                                    <input type="text" class="form-control" value="{{ user.carrera_a_postulars }}"
                                        readonly>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <button class="btn btn-primary mt-3">Resultados</button>
                            <a href="{{ url_for('admin.delete_user', user_id=user._id) }}"
                                class="btn btn-danger btn-delete mt-3">Eliminar</a>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/borrar.js') }}"></script>
{% endblock %}

{% block first_block %}
<a class="btn btn-link" href="{{ url_for('admin.admin') }}">Inicio</a>
<a class="btn btn-link" href="{{ url_for('main.contact') }}">Contacto</a>
{% endblock %}

{% block second_block %}
<a href="{{ url_for('admin.admin') }}">Inicio</a>
{% endblock %}